.git/objects/*
/frontend/node_modules
/frontend/.cache
/frontend/dist
/backend/static
/db.sqlite3
*.egg-info
*.sql
/.venv
/.env
/.docker-env
Dockerfile
Pipfile.log
/dist
.DS_Store
.idea/*
containers_data
